name: Security / Scorecards

on:
  branch_protection_rule:
  schedule:
    - cron: '0 12 * * 5'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  analysis:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run analysis (local)
        if: ${{ github.actor == 'nektos/act' }}
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: false
      - name: Run analysis (GitHub)
        if: ${{ github.actor != 'nektos/act' }}
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      - name: Upload SARIF results
        if: ${{ github.actor != 'nektos/act' }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
